
name: 'PR checker'

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Install ASDF
        uses: ./.github/actions/asdf-install

      - name: Cache Poetry
        id: poetry-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install poetry dependencies
        if: steps.poetry-cache.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      - name: Test
        run: task test